<label>Server</label>
<input
  type="text"
  class="form-control"
  placeholder="Enter a server name"
  (input)="onUpdateServerName($event)">
<input
  type="text"
  class="form-control mt-2"
  placeholder="Enter a server name"
  [(ngModel)]="serverName"
  (input)="onUpdateServerName($event)">
<p class="my-2">{{ serverName }}</p>
<button
  class="btn btn-primary my-2"
  [disabled]="serverName ? !allowNewServer : allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!--<p>{{ serverCreationStatus }}</p>-->

<p *ngIf="serverName; else noServer" class="font-italic text-sm">Server <strong>{{ serverName }}</strong> was created successfully...</p>
<ng-template #noServer>
  <p class="font-italic text-sm">
    Server <strong>{{ serverName }}</strong> creation failed...
  </p>
</ng-template>

<app-server></app-server>
<app-server></app-server>
